.details {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    background-color: #fafafa;
}

.container {
    margin-top: 50px;
}

.image {
    height: 250px;
    border-radius: 10px;
}

.h3 {
    font-size: 30px;
}

.h5 {
    margin-top: 20px !important;
}

.mt_20 {
    margin-top: 20px !important;
}

.mt_10 {
    margin-top: 10px !important;
}

.chip {
    margin: 5px;
    padding: 10px !important;
    font-size: 15px !important;
}

.card {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    padding: 20px;
}

@media (max-width: 600px) {
    .h3 {
        margin-top: 20px !important;
        font-size: 2.125rem !important;
        font-weight: 500 !important;
    }
}


@media (min-width: 600px) {
    .muiContainer {
      min-width: 1200px;
    }

    .image {
        height: 400px;
    }

    .h3 {
        font-weight: 500 !important;
    }

    .rating {
        font-size: 2.5em !important;
    }
}